<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyao.mybatis.client.TEventPageMapper">
  <resultMap id="BaseResultMap" type="com.leyao.mybatis.model.TEventPage">
    <id column="h_event_id" jdbcType="BIGINT" property="hEventId" />
    <result column="s_event_category_cd" jdbcType="INTEGER" property="sEventCategoryCd" />
    <result column="r_event_category_desc" jdbcType="VARCHAR" property="rEventCategoryDesc" />
    <result column="s_event_type_cd" jdbcType="INTEGER" property="sEventTypeCd" />
    <result column="r_event_type_desc" jdbcType="VARCHAR" property="rEventTypeDesc" />
    <result column="s_event_title_url" jdbcType="VARCHAR" property="sEventTitleUrl" />
    <result column="s_event_content_url" jdbcType="VARCHAR" property="sEventContentUrl" />
    <result column="s_event_sub_content_1_url" jdbcType="VARCHAR" property="sEventSubContent1Url" />
    <result column="s_event_active_ind" jdbcType="INTEGER" property="sEventActiveInd" />
    <result column="create_ts" jdbcType="TIMESTAMP" property="createTs" />
    <result column="update_ts" jdbcType="TIMESTAMP" property="updateTs" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.leyao.mybatis.model.TEventPage">
    <result column="s_event_search_content_txt" jdbcType="LONGVARCHAR" property="sEventSearchContentTxt" />
  </resultMap>
  <sql id="Base_Column_List">
    h_event_id, s_event_category_cd, r_event_category_desc, s_event_type_cd, r_event_type_desc, 
    s_event_title_url, s_event_content_url, s_event_sub_content_1_url, s_event_active_ind, 
    create_ts, update_ts
  </sql>
  <sql id="Blob_Column_List">
    s_event_search_content_txt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_event_page
    where h_event_id = #{hEventId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_event_page
    where h_event_id = #{hEventId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.leyao.mybatis.model.TEventPage">
    insert into t_event_page (h_event_id, s_event_category_cd, r_event_category_desc, 
      s_event_type_cd, r_event_type_desc, s_event_title_url, 
      s_event_content_url, s_event_sub_content_1_url, 
      s_event_active_ind, create_ts, update_ts, 
      s_event_search_content_txt)
    values (#{hEventId,jdbcType=BIGINT}, #{sEventCategoryCd,jdbcType=INTEGER}, #{rEventCategoryDesc,jdbcType=VARCHAR}, 
      #{sEventTypeCd,jdbcType=INTEGER}, #{rEventTypeDesc,jdbcType=VARCHAR}, #{sEventTitleUrl,jdbcType=VARCHAR}, 
      #{sEventContentUrl,jdbcType=VARCHAR}, #{sEventSubContent1Url,jdbcType=VARCHAR}, 
      #{sEventActiveInd,jdbcType=INTEGER}, #{createTs,jdbcType=TIMESTAMP}, #{updateTs,jdbcType=TIMESTAMP}, 
      #{sEventSearchContentTxt,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.leyao.mybatis.model.TEventPage">
    insert into t_event_page
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="hEventId != null">
        h_event_id,
      </if>
      <if test="sEventCategoryCd != null">
        s_event_category_cd,
      </if>
      <if test="rEventCategoryDesc != null">
        r_event_category_desc,
      </if>
      <if test="sEventTypeCd != null">
        s_event_type_cd,
      </if>
      <if test="rEventTypeDesc != null">
        r_event_type_desc,
      </if>
      <if test="sEventTitleUrl != null">
        s_event_title_url,
      </if>
      <if test="sEventContentUrl != null">
        s_event_content_url,
      </if>
      <if test="sEventSubContent1Url != null">
        s_event_sub_content_1_url,
      </if>
      <if test="sEventActiveInd != null">
        s_event_active_ind,
      </if>
      <if test="createTs != null">
        create_ts,
      </if>
      <if test="updateTs != null">
        update_ts,
      </if>
      <if test="sEventSearchContentTxt != null">
        s_event_search_content_txt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="hEventId != null">
        #{hEventId,jdbcType=BIGINT},
      </if>
      <if test="sEventCategoryCd != null">
        #{sEventCategoryCd,jdbcType=INTEGER},
      </if>
      <if test="rEventCategoryDesc != null">
        #{rEventCategoryDesc,jdbcType=VARCHAR},
      </if>
      <if test="sEventTypeCd != null">
        #{sEventTypeCd,jdbcType=INTEGER},
      </if>
      <if test="rEventTypeDesc != null">
        #{rEventTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="sEventTitleUrl != null">
        #{sEventTitleUrl,jdbcType=VARCHAR},
      </if>
      <if test="sEventContentUrl != null">
        #{sEventContentUrl,jdbcType=VARCHAR},
      </if>
      <if test="sEventSubContent1Url != null">
        #{sEventSubContent1Url,jdbcType=VARCHAR},
      </if>
      <if test="sEventActiveInd != null">
        #{sEventActiveInd,jdbcType=INTEGER},
      </if>
      <if test="createTs != null">
        #{createTs,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTs != null">
        #{updateTs,jdbcType=TIMESTAMP},
      </if>
      <if test="sEventSearchContentTxt != null">
        #{sEventSearchContentTxt,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.leyao.mybatis.model.TEventPage">
    update t_event_page
    <set>
      <if test="sEventCategoryCd != null">
        s_event_category_cd = #{sEventCategoryCd,jdbcType=INTEGER},
      </if>
      <if test="rEventCategoryDesc != null">
        r_event_category_desc = #{rEventCategoryDesc,jdbcType=VARCHAR},
      </if>
      <if test="sEventTypeCd != null">
        s_event_type_cd = #{sEventTypeCd,jdbcType=INTEGER},
      </if>
      <if test="rEventTypeDesc != null">
        r_event_type_desc = #{rEventTypeDesc,jdbcType=VARCHAR},
      </if>
      <if test="sEventTitleUrl != null">
        s_event_title_url = #{sEventTitleUrl,jdbcType=VARCHAR},
      </if>
      <if test="sEventContentUrl != null">
        s_event_content_url = #{sEventContentUrl,jdbcType=VARCHAR},
      </if>
      <if test="sEventSubContent1Url != null">
        s_event_sub_content_1_url = #{sEventSubContent1Url,jdbcType=VARCHAR},
      </if>
      <if test="sEventActiveInd != null">
        s_event_active_ind = #{sEventActiveInd,jdbcType=INTEGER},
      </if>
      <if test="createTs != null">
        create_ts = #{createTs,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTs != null">
        update_ts = #{updateTs,jdbcType=TIMESTAMP},
      </if>
      <if test="sEventSearchContentTxt != null">
        s_event_search_content_txt = #{sEventSearchContentTxt,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where h_event_id = #{hEventId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.leyao.mybatis.model.TEventPage">
    update t_event_page
    set s_event_category_cd = #{sEventCategoryCd,jdbcType=INTEGER},
      r_event_category_desc = #{rEventCategoryDesc,jdbcType=VARCHAR},
      s_event_type_cd = #{sEventTypeCd,jdbcType=INTEGER},
      r_event_type_desc = #{rEventTypeDesc,jdbcType=VARCHAR},
      s_event_title_url = #{sEventTitleUrl,jdbcType=VARCHAR},
      s_event_content_url = #{sEventContentUrl,jdbcType=VARCHAR},
      s_event_sub_content_1_url = #{sEventSubContent1Url,jdbcType=VARCHAR},
      s_event_active_ind = #{sEventActiveInd,jdbcType=INTEGER},
      create_ts = #{createTs,jdbcType=TIMESTAMP},
      update_ts = #{updateTs,jdbcType=TIMESTAMP},
      s_event_search_content_txt = #{sEventSearchContentTxt,jdbcType=LONGVARCHAR}
    where h_event_id = #{hEventId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.leyao.mybatis.model.TEventPage">
    update t_event_page
    set s_event_category_cd = #{sEventCategoryCd,jdbcType=INTEGER},
      r_event_category_desc = #{rEventCategoryDesc,jdbcType=VARCHAR},
      s_event_type_cd = #{sEventTypeCd,jdbcType=INTEGER},
      r_event_type_desc = #{rEventTypeDesc,jdbcType=VARCHAR},
      s_event_title_url = #{sEventTitleUrl,jdbcType=VARCHAR},
      s_event_content_url = #{sEventContentUrl,jdbcType=VARCHAR},
      s_event_sub_content_1_url = #{sEventSubContent1Url,jdbcType=VARCHAR},
      s_event_active_ind = #{sEventActiveInd,jdbcType=INTEGER},
      create_ts = #{createTs,jdbcType=TIMESTAMP},
      update_ts = #{updateTs,jdbcType=TIMESTAMP}
    where h_event_id = #{hEventId,jdbcType=BIGINT}
  </update>
</mapper>